<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ("../partials/head") %>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/stylemenu.css">

</head>
<body>

    <!---menu de navegacion cliente superior-->
    <%- include ("../partials/navAdmin") %>
	

	 <!-- MAIN CONTENT -->
	 <div class="img-header">
		<div class="welcome">
		</div>       
	   </div>
	
	<!-- section one -->
	<div class="container-fluid" id="about">
		<div class="row bg-warning p-5 text-center">
		<div class="col-sm-6">
			<i class="fas fa-hand-point-right fa-10x"></i>  
		</div>
		<div class="col-sm-6">
			<h3>No nos gusta presumir, pero de alguna manera terminamos con un menú francamente excepcional.</h3>          
		</div>
		</div>
	</div>

    <!-- FOOTER -->
    <%- include ("../partials/footer") %>
   
</body>
</html>