<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<%- include ("../partials/head") %>
</head>
<body class="loginEmpleado">
	<!---menu de navegacion superior-->
	<%- include ("../partials/navigation") %>

	<!---mensaje exitoso-->
	<ul class="text-center mensaje_exito">
		<% if(messages.success_msg) { %>
			<li><%= messages.success_msg %></li>
			<% } %>
		</ul>
		
		<ul class="text-center errores">
		<% if(messages.error) { %>
			<li><%= messages.error %></li>
			<% } %>
		</ul>
	

	<form action="/loginEmpleado" method="POST" class="formulario text-center">
		<h1 class="pacifico grande azul">Iniciar Sesión de Empleado</h1>
		<div class="contenedor">

			<div class="input-contenedor">
				<i class="	far fa-address-card icon"></i>
				<input type="text" id="correo_o_apodo_login" name="correo_o_apodo_login" placeholder="Correo Electrónico o Apodo" required>
			</div>

			<div class="input-contenedor">
				<i class="fas fa-key icon"></i>
				<input type="password" id="contrasena_login" name="contrasena_login" placeholder="Contraseña" required>
			</div>
			<input type="submit" value="Ingresar" class="button">
			
		</div>
	</form>
</body>

</html>