<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservacion</title>
    <%- include ("../partials/head") %> 

    

</head>
<body class="reservacion">
    <!---menu de navegacion cliente superior-->
    <%- include ("../partials/navcliente") %>

  
    
<!-- Titulo Reservacion -->
<div class="bradcam_area overlay">
    <h3>Reservación</h3>
</div>

<!---Reservacion-->

<!---mensaje de error-->
<ul class="text-center errores">
    <% if(typeof errors != 'undefined'){ %> <% errors.forEach(error=>{ %>
        <li><%= error.text  %></li>
    <% }) %> <% } %>
</ul>


<form action="/reservacion"  class="formulario text-center" method="POST">
    <h1 class="pacifico grande azul">Ven y conoce nuestro restaurante</h1>
    <div class="contenedor">
    
     
        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <span class="form-label">Dia</span>
            <input class="form-control" type="date" id="dia_user" name="dia_user" required>
        </div>

        <div class="input-contenedor">
            <i class="fas fa-address-card icon"></i>
            <span class="form-label">Hora</span>
            <select class="form-control" type="text" id="hora_user" name="hora_user" required>
                <option>11Am</option>
                <option>12M</option>
                <option>1PM</option>
                <option>2PM</option>
                <option>3PM</option>
                <option>4PM</option>
                <option>5PM</option>
                <option>6PM</option>
            </select>

        </div>

        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <span class="form-label">Confirmacion</span>
            <input class="form-control" type="string" id="id_cliente" name="id_cliente" placeholder="Apodo" required>
            <small>Para confirmar su reserva agregue su correo</small>
        </div>

        <input type="submit" value="Reservar" class="button">
        
    </div>
</form>
<p>	
</p>

<div style="margin-top: 10px; position: static;">
    <%- include ("../partials/footer") %>
</div>

</body>