<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <%- include ("./partials/head") %>
</head>

<body>
    <%- include ("./partials/navigation") %>

    <section>
        <div class="text-center">
            <article class="cajita">
                <h1 class="pacifico grande azul margen-abajo animated bounceInDown">Quienes somos?</h1>
                <p class="text-center">
                    <font size=5>
                        Saborsazzon es un restaurante que cuenta con todos los protocolos de bioseguridad para una atención segura
                        en esta epoca de pandemia, contamos con carta digital y un exquisito menú.
                </p>
            </article>
            <article class="cajita">
                <h2 class="pacifico animated rubberBand retraso">Nuestra ubicación</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13753.44535129592!2d-76.53563963579643!3d3.3750533727863634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a171c4c65349%3A0x2c57d167960c9149!2sUniversidad%20del%20Valle!5e1!3m2!1ses-419!2sco!4v1584676514376!5m2!1ses-419!2sco"
                    width="800" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0" class="margen-abajo"></iframe>
            </article>
        </div>
    </section>
    <%- include ("./partials/footer") %>
</body>

</html>