<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Saborsazzon</title>
    <%- include ("./partials/head") %>
  </head>
  <body>

    <!-- HEADER -->
    <%- include ("./partials/navigation") %>

    <!-- MAIN CONTENT -->
    <div class="img-header">
      <div class="welcome">
        <img src="/img/logo_principal.png" class="animated zoomInRight" alt="">
        <img src="/img/logo_secundario.png" class="animated zoomInRight" alt="">
        <hr class="animated zoomInRight">
     
      </div>       
     </div>

    <!-- section one -->
    <div class="container-fluid" id="about">
      <div class="row bg-warning p-5 text-center">
        <div class="col-sm-6">
          <i class="fas fa-hand-point-right fa-10x"></i>  
        </div>
        <div class="col-sm-6">
          <h3>No nos gusta presumir, pero de alguna manera terminamos con un menú francamente excepcional.</h3>          
        </div>
      </div>
    </div>
     
    <!-- FOOTER -->
    <%- include ("./partials/footer") %>
  </body>
</html>
