<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ("./partials/head") %>
	<link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <!---menu de navegacion mesero superior-->
    <%- include ("./partials/navMesero") %>
	<h4 id="bienvenida_mesero">Bienvenido señor(a) mesero(a)</h4>
    
    <div class="img-header-mesero">
        <img src="" alt="">
    </div>
       

    <!-- FOOTER -->
    <%- include ("./partials/footer") %>
   
</body>
</html>