<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Registro</title>	
    <%- include ("./partials/head") %>
</head>
<body class="login">
	<!---menu de navegacion superior-->
	<%- include ("./partials/navigation") %>

	<!---mensaje de error-->
	<ul class="text-center errores">
		<% if(typeof errors != 'undefined'){ %> <% errors.forEach(error=>{ %>
			<li><%= error.message  %></li>
		<% }) %> <% } %>
	</ul>

	<form action="/registro" class="formulario text-center" method="POST">
		<h1 class="pacifico grande azul">Registro Cliente</h1>
		<div class="contenedor">
			
			<div class="input-contenedor">
				<i class="fas fa-envelope icon"></i>
				<input type="text" id="correo_user" name="correo_user" placeholder="Correo Electrónico" required>
			</div>

			<div class="input-contenedor">
				<i class="fas fa-address-card icon"></i>
				<input type="text" id="apodo_user" name="apodo_user" placeholder="Apodo Cliente" required>
			</div>

			<div class="input-contenedor">
				<i class="fas fa-key icon"></i>
				<input type="password" id="contrasena_user" name="contrasena_user" placeholder="Contraseña" required>
			</div>
			
			<div class="input-contenedor">
				<i class="fas fa-key icon"></i>
				<input type="password" id="contrasena_user2" name="contrasena_user2" placeholder="Confirmar Contraseña" required>
			</div>

			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input type="text" id="nombres_user" name="nombres_user" placeholder="Nombres" required>
			</div>

			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input type="text" id="paterno_user" name="paterno_user" placeholder="Primer Apellido" required>
			</div>

			<div class="input-contenedor">
				<i class="fas fa-user icon"></i>
				<input type="text" id="materno_user" name="materno_user" placeholder="Segundo Apellido" required>
			</div>

			<input type="submit" value="Registrate" class="button">
			<p class="text-center">Al registrarte, aceptas nuestra Política de privacidad y nuestras Condiciones de uso general</p>
			<p class="text-center">¿Ya tienes una cuenta? <a class="link" href="/login">Iniciar Sesión</a></p>
		</div>
	</form>
</body>
</html>