@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800|Pacifico|Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap");

body {
    background: white;
  }
  
  .img-header{
      position: relative;
      width: 100%;
         height: calc(100vh - 67px);
      background:url(/img/fondo-comida.jpg);
      background-attachment: fixed;
      background-position: initial;
      background-size: cover;
      
  }
  
  .img-header-mesero{
    position: relative;
    width: 100%;
       height: calc(100vh - 67px);
    background:url(/img/fondo-mesero.jpg);
    background-attachment: fixed;
    background-position: initial;
    background-size: cover;
    
    }

  .about-gallery{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
  }
  
  .about-gallery img{
      width: calc(33.333% - 10px);
      height: 300px;
      margin: 10px 10px;
      object-fit: cover;
      border-radius: 10px;
      cursor: pointer;
  }
  
  .img-header .welcome{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 22, 40, .6);
  
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .img-header-mesero .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 22, 40, .6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
  .logo{
      margin-top: -30px;
  }

  .container .navbar-brand {
    font-family: 'Spicy Rice', cursive;
    size: 0mm;
    height: 15px;
  }
  
  .nav-link {
    text-transform: uppercase;
    font-family: 'Spicy Rice', cursive;
    font-size: 15px;
  }
  
  header img {
    width: 60%;
  }
  
  .fondo-login{
      background-image: url("/img/login-empleado.jpg");
      background-size: cover;
      background-attachment: fixed;
  }

  .loginCliente{
    background-image: url("/img/login-cliente.jpg");
    background-size: cover;
    background-attachment: fixed;
    }

    .registro{
        background-image: url("/img/fondo-registro.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

    .fondo-reserva{
        background-image: url("/img/reserva.jpg");
        background-size: cover;
        background-attachment: fixed;
    }

  .icon{
      min-width: 50px;
      font-size: 22px;
      text-align: center;
      color: gray;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="number"]{
      font-size: 20px;
      width: 88%;
      padding: 10px;
      border: none;
  }
  
  .button{
      border: none;
      width: 100%;
      color: white;
      font-size: 20px;
      background: #009FFF;
      padding: 15px 20px;
      border-radius: 5px;
      cursor: pointer;
  }
  
  .button:hover{
      background: cadetblue;
  }
  
  .errores{
      color: white;
      font-size: 20px;
      font-weight: bold;
      background-color: red;
      margin-top: 50px;
  }
  
  .mensaje_exito{
      color: yellow;
      font-size: 20px;
      font-weight: bold;
      background-color: black;
      margin-top: 50px;
  }
  
  .link{
      text-decoration: none;
      color: #009FFF; 
      font-weight: 600;
  }
  .link:hover{
      color: cadetblue;
  }
  
  @media(min-width: 768px){
      .formulario{
          margin: auto;
          width: 500px;
          margin-top: 150px;
          border-radius: 2%;
      }
  }
  
  .contenedor{
      width: 100%;
      padding: 15px;
  }
  
  .input-contenedor{
      margin-bottom: 15px;
      border: 1px solid #aaa;
  }
  
  .formulario{
      background: #fff;
      margin-top: 100px;
      padding: 3px;
  }

  .datosCliente{
      color: black;
      padding: 1%;
      text-align: center;
      font-size: x-large;
      font-weight: bolder;
  }

  /*-----------------------------------------------------------------------------------------------------*/
  
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 10px;
      }
    
      .dropdown-content a {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    .cursor{
        cursor: pointer;
    }

    .separacion{
        padding-top: 3cm;
    }
  
#bienvenida{
    background-color: greenyellow;
    color: black;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

#bienvenida-cliente{
    color: white;
    background-color: rgba(0, 0, 0, 0.329);
    backface-visibility: inherit;
    font-size: 500%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

#bienvenida_mesero{
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    padding: 10px;
    backface-visibility: inherit;
    font-size: 500%;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
}

#bienvenida_admin{
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    padding: 10px;
    backface-visibility: inherit;
    font-size: 500%;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
}

#page-container{
    position: relative;
    min-height: 100vh;
}

.bradcam_area {
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 50px  50px ;
    margin-top: 100px;
}

.overlay {
    position: relative;
    z-index: 0;
}
  
.overlay::before {
    position: absolute;
    content: "";
    background-color: #040E27;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
}

@media (max-width: 767px) {
    /* line 10, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_bradcam.scss */
    .bradcam_area {
      padding: 170px 0;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 10, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_bradcam.scss */
    .bradcam_area {
      padding: 150px 0 150px 0;
    }
  }
  
  
  .bradcam_area h3{
    font-size: 40px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    font-family: "Paytone One", sans-serif;
    text-transform: uppercase;
  }

  
  @media (max-width: 767px) {
    /* line 21, ../../Arafath/CL/December/229. Restaurant (Burger)/HTML/scss/_bradcam.scss */
    .bradcam_area h3 {
      font-size: 30px;
    }
  }

  ::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
  }

.best_burgers_area {
    padding-bottom: 115px;
    padding-top: 140px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .best_burgers_area {
        padding-top: 50px;
        padding-bottom: 40px;
    }
}

.best_burgers_area .single_delicious {
    margin-bottom: 35px;
}
  
@media (max-width: 767px) {
    .best_burgers_area .single_delicious {
        display: block !important;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .best_burgers_area .single_delicious {
        display: block !important;
    }
}

.best_burgers_area .single_delicious .thumb {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.best_burgers_area .single_delicious .thumb img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.best_burgers_area .single_delicious .info {
    padding-left: 20px;
}

@media (max-width: 767px) {
    .best_burgers_area .single_delicious .info {
        padding-left: 0;
        margin-bottom: 15px;
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .best_burgers_area .single_delicious .info {
        padding-left: 0;
        margin-top: 30px;
    }
}

.best_burgers_area .single_delicious .info h3 {
    font-size: 30px;
    color: #1A0D01;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
  
.best_burgers_area .single_delicious .info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 6px;
    color: #6E6E6E;
    font-family: "Montserrat", sans-serif;
}
  
.best_burgers_area .single_delicious .info span {
    display: block;
    font-weight: 700;
    font-size: 24px;
    color: #F0542C;
    font-family: "Montserrat", sans-serif;
}
  
.best_burgers_area .iteam_links {
    margin-top: 50px;
}
  
@media (max-width: 767px) {
    .best_burgers_area .iteam_links {
      margin-top: 20px;
    }
}
  
.best_burgers_area .iteam_links a {
    display: block;
}

.cuerpo { 
  font-size: medium;
  margin: 15px; font-family: sans-serif;
}

#chat2 { 
  background: rgb(245, 245, 245); 
  height: 300px; 
  width: calc(100%); 
  max-width:742px; 
  border: 1px solid gray; 
  margin-bottom: 10px; 
  padding: 10px; 
  overflow-y: auto; 
  overflow-y: scroll;
}

#controls { 
  margin: 15px;
  display: grid; 
  width: calc(100%); 
  max-width:742px; 
  grid-template-columns: 27% 53% 20%; 
}

#controls .entradas { 
  padding: 8px 5px;
  border-style: inset;
}