<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/stylemenu.css">
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    
  
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

   

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <h3>Menu</h3>
    </div>
    <!-- bradcam_area_end -->

    <!-- best_burgers_area_start  -->
    <div class="best_burgers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="img/carapachos.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Carapachos</h3>
                            <p>Carapachos de Jaiba.</p>
                            <span>$35.000</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="img/langostinos-pasion.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3>Langostinos Pasion Marinera</h3>
                            <p>angostinos Pasión Marinera, sobre puré cremoso de papas.</p>
                            <span>$47.200</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="img/ceviche.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Ceviche</h3>
                            <p>Cambia la rutina y prueba este delicioso ceviche.</p>
                            <span>$25.000</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="img/triple-camaron.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Triple</h3>
                            <p>Camarón, tollo, calamar !</p>
                            <span>$45.000</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="img/cazuela-mariscos.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Cazuela de Mariscos</h3>
                            <p>Cazuela Lunch, arroz coco y tostadas de plátano.</p>
                            <span>$15.000</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="/img/mariscos-gratinados.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Mariscos Gratinados</h3>
                            <p>Acompañados con arroz coco, ensalada y Patacón.</p>
                            <span>$46.400</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="img/langostinos-apanados.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Langostinos Apanados</h3>
                            <p>Langostinos Apanados sobre puré de papa en salsa de chontaduro, se acompañan con ensalada.</p>
                            <span>$59.200</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="img/pescado-chontaduro.png" alt="">
                        </div>
                        <div class="info">
                            <h3>Pescado en salsa de chontaduro</h3>
                            <p>Para los amantes del chontaduro!</p>
                            <span>$41.500</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- best_burgers_area_end  -->

   
</body>

</html>