<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-danger navbar fixed-top">
    <div class="container p-2">
      <a class="navbar-brand logo" href="/admin"><img src="img/iconoEmpresa.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
         
          <li class="nav-item">
            <a class="nav-link active" href="/gestionEmpleados"><i class="fas fa-id-card"></i> Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/gestionReservas"><i class="fas fa-id-card"></i> Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/logoutAdmin"><i class="fas fa-id-card"></i> Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  